<?xml version="1.0" encoding="utf-8"?>
<manifest package="one.example.com.mysample"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!--<uses-sdk android:minSdkVersion="8"></uses-sdk>  -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/movies_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/movies_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c6ec537f1f55640b5000760"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Github"/>

        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".main.ui.WebViewActivity"/>
    </application>

</manifest>